@model IEnumerable<Day2MVCPrj.Models.Order>
@{
    ViewBag.Title = "MultiData";
}

<h2>Multiple Table Data</h2>

@foreach(var item in Model)
            {
<ul typeof="none">
    <li>Order Id : @item.OrderID</li>
    <li>CustomerName : @item.Customer.ContactName</li>
    <li>Employee FirstName : @item.Employee.FirstName</li>
    <li>Employee LastName : @item.Employee.LastName</li>
    <li>Shipper Company : @item.Shipper.CompanyName</li>
  </ul>
            }

